<nav>
    <ul>
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <a href="/AboutMe">About</a>
        </li>
        <li>
            <a href="/profile">Profile</a>
        </li>
    </ul>
</nav>