<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/NodeJS/assets/style.css">
    <title>name</title>
</head>
<body>
    <h1>This is about <%= data.who %></h1>
    <p>Im a <%= data.job %></p>
    <p>U can contact me on  <%= data.email %></p>
</body>
